<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixels.bdpbiblio" >
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:resizeableActivity = "true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
		<activity
			android:name=".inicio"
			android:theme="@style/AppTheme.NoActionBar">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		<activity
			android:name=".multa"/>
		
		<activity
			android:name=".devolucion"
			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".ItemDetailActivity1"
			android:theme="@style/AppTheme.NoActionBar">
			<meta-data

				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.pixels.bdpbiblio.devolucion" />

		</activity>
		<activity
			android:name=".prestamos"
			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".ItemDetailActivity"
			android:theme="@style/AppTheme.NoActionBar">
			<meta-data

				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.pixels.bdpbiblio.prestamos" />
			
		</activity>
			
    </application>

</manifest>
